<div class = "container">

	<div class= "span12">
		<div class = "row">
			
			<div class = "span2">
				<table class='table table-bordered'>
				<tr>
					<td>hello</td>	
					<td>world</td>
				</tr>
				<tr>
					<td>goodbye</td>
					<td>world</td>
				</tr>
				</table>
			</div>

			<div class = "span5">
				<form action = "/echo/echo" method = 'post'>
					<label for="name">Name</label>
					<p>
						<img src="/assets/star.png" alt="calendar" height="20" width="20"> 
						<input type = "text" name = "name" value = "Type something...">
					</p>
					<p>
						<input type = "checkbox" name = "checkbox" value = "Check me out">
 						<label for="checkbox">Check me out</label>
 					</p>
 						<input type = "submit" name = "button" value = "Submit Name" class = "button" >		
				</form>
			</div>

			<div class = "span5">
				<form action = "/echo/echo" method = 'post'>
					<label for="age">Age</label>
					<p>
						<img src="/assets/calendar.png" alt="calendar" height="20" width="20"> 
						<input type = "text" name = "age" value = "Type something...">
					</p>
					<input type = "checkbox" name = "checkbox" value = "Check me out">	
					<label for="checkbox">Check me out</label>
 					<input type = "submit" name = "button" value = "Submit age" >
				</form>
			</div>	
		</div>
	</div>
</div>

