 #main-panel{
                background-color: #7FFFD4;  
            }
            #main-content{
                background-color: #87CEFA;    
            }
        
            h4 {
               text-align: center;
            }
           
            .nav-tabs{
              background-color: hsl(187, 11%, 68%);
            }
            .page-header{
              background-color: #330066;
              color: white;
              text-align: center;
              font-size: xx-large;
            }
